<div class="animated fadeIn">

  <div class="card-columns cols-2">
    <div *ngIf="gridVisible" class="card">
      <div class="card-header">
        Line Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">

          <ng-table 
          [rows]="rowsFeature" [columns]="columnsFeature">
</ng-table>

        <table class="  table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Terrain type</th>
              <th>Center Map</th>
            </tr>
          </thead>
          <tr *ngFor="let fet of featuresKml   ">

            <td> <span>{{ fet.getId()}}</span></td>
            <td> <span>{{ fet.get('name')}}</span></td>
            <td> <button class="btn btn-sm btn-primary" (click)="centerPolygon(fet)"><i class="fa fa-map-marker"></i></button></td>

          </tr>
        </table>


      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Line Chart
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">docs</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div id="map" class="map"></div>
      </div>

    </div>
    <div id="popup" class="ol-popup" #popup>
      <div id="popup-content" #popupContent></div>
    </div>
  </div>
</div>