<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="card border-primary">
            <div class="card-body text-center">
                <h4 class="card-title">
                    <i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i>
                    <p>Charts</p>
                </h4>
                <p class="card-text">Our team has put a strong effort in the development
                    of a wide range of charts, in order to fulfill requirements of various statistical domains 
                </p>
                <a routerLink="/timereport/EU">Go to data <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card text-white bg-primary text-center">
            <div class="card-body text-center">
                <h4 class="card-title">
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true" ></i>
                    <p>Maps</p>
                </h4>
                <p class="card-text">
                    Geospatial data analysis is of utmost importance in the context of official statistics. <br>
                    Our dashboard is strongly integrated with the open streetmap and openlayer.
                </p>
                <a routerLink="/maps" >Go to maps <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card border-primary">
            <div class="card-body text-center">
                <h4 class="card-title">
                    <i class="fa fa-list-alt fa-2x" aria-hidden="true"></i>
                    <p>Analytics</p>
                </h4>
                <p class="card-text">
                    Data is the core of our business. <br>
                    The dashboard provides several functionalities to display data at micro and macro level
                    (data tables, pivot tables)
                </p>
                <a routerLink="/hackpivot/EU">Go to analytics <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="card text-white bg-primary text-center">
            <div class="card-body text-center">
                <h4 class="card-title">
                    <i class="fa fa-cutlery fa-2x" aria-hidden="true" ></i>
                    <p>Food classifier</p>
                </h4>
                <p class="card-text">
                    Food classifier functionality uses machine learning algorithms to classify food images.<br>
                    The algorithm return a set of meta-information including nutritional facts
                </p>
                <a routerLink="/food">Go to food <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>