::ng-deep #pivotgrid {
    margin-top: 20px;
}
::ng-deep .options {
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(191, 191, 191, 0.15);
}
::ng-deep .caption {
    font-size: 18px;
    font-weight: 500;
}
::ng-deep .option {
    width: 24%;
    display: inline-block;
    margin-top: 10px;
}

label {
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 0px;
}

.switch{
    height: 20px!important;
}

.switch-primary .switch-input:checked + .switch-slider {
    background-color: #63c2de;
    border-color: #3c98b9;
}

.switch-3d .switch-slider::before{
    height: 20px!important;
    width:  20px!important;
}