<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-body text-center">
        <p class="card-text"><img src="assets/img/architecture/frameworks.png" width="65%" /></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          Frameworks
          <span class="badge badge-success float-right">New</span>
        </div>
        <div class="card-body text-center">
          <p class="card-text"><img src="assets/img/architecture/architecture.png" width="65%" /></p>
        </div>
      </div>
    </div>
  </div>