<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <p><img class=" img-fluid" src="assets/img/avatars/francesco.png" height="50%" width="50%" alt="card image"></p>
        <h4 class="card-title">Francesco Amato</h4>
        <p class="card-text">Francesco is our strongest developer! His technical skills
          range from hardcore Java Frameworks, such as Spring and Hibernate, to state-of-the-art
          front end frameworks. </p>
          <h5 class="card-title">framato@istat.it</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <p><img class=" img-fluid" src="assets/img/avatars/fabri.png" height="50%" width="50%" alt="card image"></p>
        <h4 class="card-title">Fabrizio De Fausti</h4>
        <p class="card-text">Fabrizio is our data scientist! He has a strong theoretical and technical background.
          If you are curiuos about machine learning, deep learning,
          neural networks he is the one you shold be talking to.
        </p>
        <h5 class="card-title">defausti@istat.it</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <p><img class=" img-fluid" src="assets/img/avatars/mauro.png" height="50%" width="50%" alt="card image"></p>
        <h4 class="card-title">Mauro Bruno</h4>
        <p class="card-text">Mauro is our anchorman! Give him a bunch of slides,
          ten minutes to study them and he is ready for the stage!
          His interests range from official statistics standards to state of the art technical frameworks.</p>
          <h5 class="card-title">mbruno@istat.it</h5>
      </div>
    </div>
  </div>
</div>