// Here you can add other styles
.navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 0;
}

app-istat-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}