// Here you can add other styles
.navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 0;
}

app-istat-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:hover{
    text-decoration: none;
}

@media (min-width: 992px){
    .sidebar-minimized .sidebar .nav-link:hover {
        width: 50px;
        background: #20a8d8;
        color: transparent;
    }
}